APP_NAME="KTL Booking System"
APP_ENV=production
APP_KEY=base64:r7zdAUvo3Gwa1seE3GvtGx190cth5cwgLIQxPkZMT2I=
APP_DEBUG=false
APP_TIMEZONE=Europe/London
APP_URL=http://localhost:8088

APP_LOCALE=en_GB
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_GB

APP_MAINTENANCE_DRIVER=file

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=ktl-booking-mysql
DB_PORT=3306
DB_DATABASE=ktl_booking
DB_USERNAME=ktl_user
DB_PASSWORD=ktl_password

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# Email Configuration For Testing Mail in MailTrap
# MAIL_MAILER=smtp
# MAIL_HOST=sandbox.smtp.mailtrap.io
# MAIL_PORT=2525
# MAIL_USERNAME=482ea0b1203385
# MAIL_PASSWORD=8272b92e6640c3
# MAIL_ENCRYPTION=null
# MAIL_FROM_ADDRESS=hello@ktl-booking.com
# MAIL_FROM_NAME="KTL Booking System"
# MAIL_SCHEME=null

# ZOHO Email Configuration For Production
MAIL_MAILER=smtp
MAIL_HOST=smtp.zoho.eu
MAIL_PORT=587
MAIL_USERNAME=londo@fury.me.uk
MAIL_PASSWORD=hFKZ33MGsdgV
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=londo@fury.me.uk
MAIL_FROM_NAME="KTL Bookings System Fury"
MAIL_SCHEME=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"